* {
  box-sizing: border-box;
}
/*main sections*/
header{
  background: #f2e8cf;
  font-family: 'Archivo Narrow', sans-serif;
  text-align: center;
  color: #386641;

}
main{
  background: #d8f3dc;
  font-family: 'Lato', sans-serif;
  padding-top: 10px;


}
footer{
  background: #bc4749;
  text-align: center;
  height: 75px;
  padding-top: 43px;
  padding-bottom: 43px;
  color: #ffffff;

}
/*specific sections*/
img{

}
h1{
  font-size: 50px;
}

/*classes*/
.header-image{
  height:100px;
  width: 100px;
  border-radius: 45%;
  padding-bottom: 10px;

}
.intro{
  text-align: center;
}
/*map element*/
.map{
  /*margin-bottom: 10px;
  padding-left: 450px;*/
  height: 400px;
  width: 600px;
}
/*ids*/
#contact-me{
  list-style-position: inside;
  text-align: center;
}
/*pseudo-classes*/
a:link {color: #000814;}
a:visited {color: #d90429;}
a:hover{color: #000000;}
a:active {color: #b7094c;}
